$grey: grey;

h1, h2, h3, p, a {
    font-family: 'Roboto', sans-serif;
}


.small-card{
    width: fit-content;
    float: left;

    .small-card-title{
        margin: 0;
        padding: 0;
    }

    .image-container{
        position: relative;
        width: fit-content;
        img{
            border-radius: 8px; 
            width: 150px;
        }
        
        .imageOverlay{
            width: 150px;
        }
        .dimmed{
            opacity: .4;
            transition: opacity .3s;
        }
        .hidden{
            display: none;
        }
        .input-overlay{
            .small-card-title{
                position: absolute;
                top: 20px;
                text-align: center;
                width: 100%;
            }
            .buttons{
                position: absolute;
                bottom: 10px;
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-evenly;
                margin: auto;
                svg{
                    font-size:30px;
                }
            }

        }
        
        
    }
}
.thumbnail-medium {
    border-radius: 8px; 
}

.single-game-icon{
    cursor: pointer;
    font-size: 22px;
}

//search
#suggestion-container{

    position: absolute;
    top: 46px;
    padding: 10px;
    width: 400px;
    ul{
        padding: 0;
    }

}

