$grey: grey;
$white: #fff;
$black: #000;
h1, h2, h3, p, a {
    font-family: 'Roboto', sans-serif;
}


.small-card{
    width: fit-content;
    float: left;

    .small-card-title{
        margin: 0;
        padding: 0;
    }

    .image-container{
        position: relative;
        width: fit-content;
        img{
            border-radius: 8px; 
            width: 150px;
        }
        
        .imageOverlay{
            width: 150px;
        }
        .dimmed{
            opacity: .4;
            transition: opacity .3s;
        }
        .hidden{
            display: none;
        }
        
        .input-overlay{
            position: absolute;
            border-radius: 8px; 
            height: 100%;
            width: 100%;
            top: 0;
            background: rgba(0,0,0,0.8);
            .small-card-title{
                position: absolute;
                top: 20px;
                text-align: center;
                width: 100%;
                color: $white;
                :hover{
                    color: blue;
                }
            }
            $starSize: 25px;
            .star-container{
                position: absolute;
                bottom: 55px;
                display:flex;
                justify-content: center;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                .star{
                    position: relative;
                    display: inline-block;
                    height: $starSize;
                    width: $starSize;
                    cursor: pointer;
                
                    .starA{
                        font-size: $starSize;
                        display: inline-block; 
                        position: absolute; 
                        overflow: hidden; 
                        top: 0px; 
                        left: 0px; 
                        color: blue;
                        line-height: 0;
                        width: 50%;
                        z-index:9999;
                    }
                    .starB{
                        font-size: $starSize;
                        display: inline-block; 
                        position: absolute; 
                        overflow: hidden; 
                        top: 0px; 
                        left: 0px; 
                        line-height: 0;
                    }
                }
            }
            
            .buttons{
                position: absolute;
                bottom: 10px;
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-evenly;
                margin: auto;
                svg{
                    font-size:30px;
                }
            }

        }
        
        
    }
}



.thumbnail-medium {
    border-radius: 8px; 
}

.single-game-icon{
    cursor: pointer;
    font-size: 22px;
}

//search
#suggestion-container{

    position: absolute;
    top: 46px;
    padding: 10px;
    width: 400px;
    ul{
        padding: 0;
    }

}

